<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 <servlet>
  <description>java servelt</description>
  <display-name>java servelt</display-name>
  <servlet-name>Login</servlet-name>
  <servlet-class>servlet.Login</servlet-class>
 </servlet>
 <servlet>
  <description>java servelt</description>
  <display-name>java servelt</display-name>
  <servlet-name>Logout</servlet-name>
  <servlet-class>servlet.Logout</servlet-class>
 </servlet>
 <servlet>
  <description>java servelt</description>
  <display-name>java servelt</display-name>
  <servlet-name>EditUserData</servlet-name>
  <servlet-class>servlet.EditUserData</servlet-class>
 </servlet>
 <servlet>
  <description>java servelt</description>
  <display-name>java servelt</display-name>
  <servlet-name>UploadFile</servlet-name>
  <servlet-class>servlet.UploadFile</servlet-class>
 </servlet>
 <servlet>
  <description>java servelt</description>
  <display-name>java servelt</display-name>
  <servlet-name>CreateSingleReport</servlet-name>
  <servlet-class>servlet.CreateSingleReport</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>Login</servlet-name>
  <url-pattern>/Login.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Logout</servlet-name>
  <url-pattern>/Logout.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>EditUserData</servlet-name>
  <url-pattern>/EditUserData.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UploadFile</servlet-name>
  <url-pattern>/UploadFile.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CreateSingleReport</servlet-name>
  <url-pattern>/CreateSingleReport.do</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
